.contener-setting-general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.conteiner-left {
  background-color: #131C21;
  width: 33%;
}

.conteiner-left-top {
  background-color: #313538;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 8px;
}

.conteiner-left-top h1 {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

h1 {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.conteiner-left-top-imgh1 {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.div-img {
  height: 15px;
}

.conteiner-left-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
  padding-left: 15px;
  min-height: 120vh;
}

.conteiner-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.conteiner-avatar h1, .conteiner-avatar h2 {
  font-style: normal;
  font-weight: 500;
}

.conteiner-avatar h1 {
  font-size: 18px;
}

.conteiner-avatar h2 {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
}

.name-avatar {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div-imgAvatar {
  height: 60px;
}

.conteiner-left-main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conteiner-left-main-menu-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
}

.conteiner-left-main-menu-options .div-img {
  padding-bottom: 10px;
}

.conteiner-left-main-menu-options h1 {
  font-size: 15px;
  color: #DBDBDB;
}

.conteiner-left-main-menu-options img {
  width: 15px;
}

.div-h1 {
  min-width: 93%;
  border-bottom: 0.5px solid #E3E3E3;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */